body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages2.alphacoders.com%2F104%2Fthumb-1920-1046515.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
  /* height: 100vh; */
}


.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  font-family: 'Cabin Sketch','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0 5% 0 5%;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: rgb(11, 11, 11);
  background-position: 0% 10%;
  /* font-family: 'Gloria Hallelujah', cursive; */
  /* font-family: 'Rubik Glitch', cursive; */
  /* font-family: 'Special Elite', cursive; */
  transition: .5s;
}

.nav:hover{
  box-shadow: inset 0px -15px 8px -10px rgb(68,134,96);
}


.nav-link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  text-decoration: none;
  text-align: center;
  margin-right: 20px;
}

.nav-element{
  color: aliceblue;
  font-size: xx-large;
}

.nav-element:hover{
  color: rgba(255, 255, 255, 0);
}


.card-body{
}

.nav-right{
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  margin-left: 10px;
}
.nav-left{
  display: flex;
  flex-direction: row;
}

a{
  text-decoration: none;
}

li{
  list-style-type: none;
}

h1{
  text-align: center;
  font-family: 'Cabin Sketch','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: none;
  text-decoration: none;
  font-size: 65px;
  color: rgb(0, 0, 0);
  margin: 10px 0 10px 0;
}

h3{
  margin-top: 0;
}

.background{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  min-width: 20vh;
  /* background-color: rgba(240, 248, 255, .5); */
  width: 75%;
  /* background-image: linear-gradient(to bottom rgba(255, 255, 255, 1), rgba(240, 248, 255, .5)) */

  background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(240, 248, 255, .5),rgba(240, 248, 255, .5),rgba(240, 248, 255, .5), rgba(240, 248, 255, .5));
  border-radius: 10px;

}

.container{
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.card{
  border: 2px solid rgb(98, 95, 95);
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
  transition: .2s;
  background-color: rgba(0, 0, 0, .3);
  background-size: contain;
  border-radius: 100px;
  transition: .8s;
  color: aliceblue;
  font-family: 'Special Elite','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card:hover{
  box-shadow: 0px 3px 12px #808080;
  transform: rotateY(180deg);
  transition: .5s;
  z-index: 3;
}

.card-title{
  color: aliceblue;
}

.writ-by{
  color: rgb(0, 0, 0);
  margin-top: 15px;
  font-size: larger;
}

.read-joke{
  color: black;
  font-size: x-large;
}

.read-joke:hover{
  color: rgb(241, 247, 241);
}

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;

}

a.page-link{
  font-size: 20px;
  color: aliceblue;
  transition: .1s;
  margin-right: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Cabin Sketch','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a.page-link:hover{
  text-shadow: 2px 2px 10px rgb(0, 0, 0);
  font-size: 25px;
}

.single-joke{
  display: flex;
  color: black;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  font-family: 'Special Elite','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
  min-height: 80vh;
  min-width: 80%;
  margin: 40px 0 40px 0;
  border-radius: 10px;
}

.h1-joke{
  flex-grow: inherit;
}

.joker-button{
  padding-top: 30px;
  padding-bottom: 30px;
}

.joke-text{
  border: 1px solid grey;
  border-radius: 3px;
  min-width: 50%;
  text-align: center;
  min-height: 10vh;
  margin: 0 10% 0 10%;
  padding: 50px 20px 50px 20px;
  line-height: 25px;
  font-size: larger;
}

.update-joke{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 150px;
  border: 1px solid orange;
  text-align: center;
  margin-bottom: 50px;
  border-radius: 5px;
  font-size: larger;
  font-family: 'Gloria Hallelujah', cursive;
}

.update-joke:hover{
  background-color: orange;
}

.delete-btn{
  background-color: rgb(255, 255, 255);
  height: 50px;
  width: 150px;
  border-radius: 5px;
  border: none;
  font-family: 'Gloria Hallelujah', cursive;
  font-size:x-large;
  border: 1px solid rgb(156, 25, 25);
  overflow: hidden;
  z-index: 5;
  position: relative;
  transition: .3s;
}

.delete-btn:hover{
  background-color: rgb(155, 26, 26);
  cursor: pointer;
  color: rgb(255, 255, 255);
}


.edit-delete-buttons{
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.delete-joke {
  color: rgb(220, 26, 26);
	transition: all 0.5s;
	position: relative;	
}

.delete-joke::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
  right: 0;
  bottom: 0;
  height: 48px;
  width: 148px;
	z-index: 1;
	transition: all 0.5s;
	border: 1px solid rgba(18, 227, 25, 0.444);
  border-radius: 5px;

}
.delete-joke::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
  height: 48px;
  width: 148px;
	z-index: 1;
	transition: all 0.5s;
	border: 1px solid rgba(235, 15, 15, 0.625);
  border-radius: 5px;
}
.delete-joke:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(194, 26, 26, 0);
}
.delete-joke:hover::after {
  transform: rotate(45deg);
  background-color: rgba(164, 64, 64, 0);
}

.form-group{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
  height: 100%;
  width: auto;
  font-size: xx-large;
  font-family: 'Special Elite','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.new-joke-input{
  background-color: rgba(244, 230, 225, 0.3);
  height: 40px;
  width: 350px;
  font-size: x-large;
  border: 1px solid green;
  border-radius: 3px;
  box-sizing: border-box;
  transition: 0.5s;
  outline: none;
  margin-bottom: 50px;
}

.new-joke-input:focus{
  border: 1px solid rgb(229, 70, 25);
  background-color: rgb(255, 255, 255);

}







