{% extends "base.html" %}
{% block content %}

<div class="container device">
    <div align="center">
        <h1>Hey {{current_user.username}}</h1>
    </div>

<div class="container ">
    <form method="POST" action="" enctype="multipart/form-data">
        <div class="form-group">
            {{form.hidden_tag()}}
        </div>
        <div class="form-group">
            {{form.username.label(class='form-group')}} 
            {{form.username(class='new-joke-input')}}
        </div>
        <div class="form-group">
            {{form.email.label(class='form-group')}} 
            {{form.email(class='new-joke-input')}}
        </div>

        <div class="form-group">
            {{form.submit(class='delete-btn post-joke-btn')}}
        </div>
    </form>
</div>
</div>
{% endblock %}