{% extends "base.html" %}
{% block content %}
    <div class="container">
      <form class="form-group" method="POST">
          {{form.hidden_tag()}}

          <div class="new-joke-inputt">
              {{form.title.label(class="form-control-label")}}
              <br>
              <div class="new-joke-inputt">
                {{form.title(class="new-joke-input")}}
              </div>
          </div>
          <div >
            {{form.text.label(class="form-control-label")}}
            <br>
            {{form.text(class="form-control form-control-lg")}}
        </div>
        <div>
            {{form.submit(class="btn btn-outline-info")}}
        </div>
      </form>
    </div>
{% endblock %}