{% extends "base.html" %}
{% block content %}
    <div class="container device">
      <form class="form-group" method="POST">
          {{form.hidden_tag()}}

          <div>
              {{form.title.label(class="form-control-label")}}
              <br>
                {{form.title(class="new-joke-input")}}
          </div>
          <div class="field">
            {{form.text.label(class="form-control-label")}}
            <br>
              {{form.text(class="new-joke-input field")}}
        </div>
        <div>
            {{form.submit(class="delete-btn post-joke-btn")}}
        </div>
      </form>
    </div>
{% endblock %}