{% extends "base.html" %}
{% block content %}
<h1>Few words about this website...</h1>
<div class="other-projects">My other projects</div>
<div class="projects">
<a class="each-project tgof" href="https://mikhailtabachek.github.io/The-game-of-Fifteen/" target="_blank"> The Game Of Fifteen</a>
<a class="each-project lmr" href="https://like-my-ride.herokuapp.com/" target="_blank"> Like My Ride </a>
<a class="each-project mj" href="https://mountain-jam.herokuapp.com/" target="_blank"> Mountain Jam
    <br> feat. Jeff Lewis and Austin Sprunger</a>
</div>
<div class="single-joke about">
        <p>Hi, I'm Mike. Thank you for visiting my website! <br> This project is dedicated to Joe Malatesta. Joe is an instructor at General Assembly SEI. He is always trying to make his students smile, especially during long and stressful project weeks. 
        <br> I've built this website as my Unit 4 project at GA SEI bootcamp in April 2022. I'd like to say THANKS to all of the instructors, TA's and my classmates! You made this journey interesting and you were always there, when I needed some help. <br>
        <br>
        Thank you: <br>
        <br>
        Ben Manley<br>
        David Stinson<br>
        Shahzad Khan<br>
        Emily Lascano<br>
        Hunter Long<br>
        Joe Malatesta<br>
        Jurgen Stevens<br>
        Angie Teets<br>
        Ian Terada<br>
        TA - Raahima Ahmed<br>
        TA - Lizz Westerband<br>
        TA - Joshua Miller<br>
        TA - Ye Aung<br>
        TA - Roberto Ramos<br>
        TA - Jackson Reeves<br>
        Abby Bissereth<br>
        Alberta McAleavey<br>
        Andrew Gallop<br>
        Andrew Waterman<br>
        Anthony Madia<br>
        Austin Sprunger<br>
        Binod Gurung<br>
        Boots Stribling<br>
        Brandon Yamane<br>
        Catt Tung<br>
        Charles Basedow<br>
        Chris Henderson<br>
        Chris Makrides<br>
        Claire Carden<br>
        Claire Thompson<br>
        Dan Richardson<br>
        Darnell Dugger<br>
        Dave Collis<br>
        David Harrison<br>
        Devon Jenkins<br>
        Eitan Corenblum<br>
        Erin O'Dea<br>
        Eugene Rillo<br>
        Evan Bernard<br>
        Fabian Silva<br>
        Garam Jang<br>
        Georgios Katsikis<br>
        Haziq Naeem<br>
        Howard Barrons<br>
        Illia Brytun<br>
        Isaac Hathaway<br>
        Jae Choi<br>
        Jana Pascual<br>
        Jayden Pak<br>
        Jeff Lewis<br>
        Jeremy Hagler<br>
        Jeremy Underwood<br>
        Joe Weathington<br>
        Jose Ruiz<br>
        Justin Vongdara<br>
        Karim Sabasaba<br>
        KG Grimes<br>
        Lucas Dean<br>
        Luke Schaffel<br>
        Mandy Karczewski<br>
        Matt Jacobs<br>
        Max May<br>
        Nathan Kaemmerlen<br>
        Renee Skibinski<br>
        Rohan Naher<br>
        Ryan Morici<br>
        Sarah Picard<br>
        Thomas Beadie<br>
        Tim Crisp<br>
        Tucker Chaisit<br>
        Tye Webster<br>
        Vanessa Konynenbelt<br>
        Will Johnson<br>
        Will Baek<br>
        Wolf Tripp<br>
        Zack Beckwith<br>
        Zuri Lyons<br>

        </p>
    </div>
   
{% endblock %}